<script lang="ts">
	import BulkCard from '$lib/components/cards/bulk-card.svelte';
	import type { BulkCardProps, RepoBranchesProps } from '$lib/types.js';

	export let data;
	const apires: BulkCardProps = data.data;

	let searchInput: string = '';
	let filteredItems: RepoBranchesProps[] = apires.items;

	const searchItems = () => {
		if (searchInput === '') {
			return (filteredItems = apires.items);
		}
		return (filteredItems = filteredItems.filter((item) => {
			let title = item.name.toLowerCase();
			return title.includes(searchInput.toLowerCase());
		}));
	};
</script>

<div class="flex flex-col justify-center px-2 md:px-12 lg:px-20">
	<div class="flex flex-row justify-between items-center pt-4 md:pt-8">
		<div class="flex flex-row gap-1 md:gap-2 justify-center items-center">
			<svg
				width="30px"
				height="30px"
				viewBox="0 0 48 48"
				xmlns="http://www.w3.org/2000/svg"
				fill="#000000"
			>
				<g id="SVGRepo_iconCarrier"
					><defs
						><style>
							.a {
								fill: none;
								stroke: #000000;
								stroke-linecap: round;
								stroke-linejoin: round;
							}
						</style></defs
					><path
						class="a"
						d="M4.21,22.12a2.87,2.87,0,0,0,0,3.77L22.12,43.8a2.87,2.87,0,0,0,3.77,0l17.9-17.91a2.85,2.85,0,0,0,0-3.77L25.89,4.21A2.68,2.68,0,0,0,24,3.51h0a2.66,2.66,0,0,0-1.88.71Z"
					/><line class="a" x1="26.33" y1="17.85" x2="30.15" y2="21.67" /><line
						class="a"
						x1="17.4"
						y1="8.92"
						x2="21.67"
						y2="13.19"
					/><circle class="a" cx="24" cy="32.41" r="3.3" /><circle
						class="a"
						cx="24"
						cy="15.52"
						r="3.3"
					/><circle class="a" cx="32.48" cy="24" r="3.3" /><line
						class="a"
						x1="24"
						y1="29.11"
						x2="24"
						y2="18.82"
					/></g
				></svg
			>
			<h1 class="text-lg md:text-xl lg:text-2xl capitalize font-semibold">
				{apires.name}
				{searchInput}
			</h1>
		</div>
		<div class="relative">
			<svg
				width="25px"
				height="25px"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				stroke="#9c9a9a"
				class="absolute left-2 top-2"
			>
				<g id="SVGRepo_iconCarrier">
					<path
						d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
						stroke="#9c9a9a"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</g></svg
			>
			<input
				type="text"
				class="border border-gray-300 rounded-md p-2 md:min-w-[500px] pl-12 text-[#9c9a9a] focus:outline-none focus:ring-transparent focus:border-gray-300"
				placeholder="Search name or tags"
				autocomplete="off"
				bind:value={searchInput}
				on:input={searchItems}
			/>
		</div>
		<button
			class="rounded-full p-1 justify-center items-start flex border border-gray-300"
			on:click={() => {
				alert('do something');
			}}
		>
			<svg
				width="25px"
				height="25px"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="SVGRepo_iconCarrier">
					<path
						d="M6 12H18M12 6V18"
						stroke="#000000"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</g></svg
			>
		</button>
	</div>
	{#if filteredItems.length == 0 && searchInput.length > 0}
		<div class="w-full py-2 text-center pt-8">No Results Found :(</div>
	{/if}

	<div class="flex flex-col gap-2 w-full justify-center items-center pt-8">
		{#each filteredItems as item}
			<BulkCard {item} />
		{/each}
	</div>
</div>
