<script lang="ts">
	import type { RepoBranchesProps } from '$lib/types';
	import BulkCardStats from './bulk-card-stats.svelte';
	export let item: RepoBranchesProps;
</script>

<div
	class="p-4 md:p-8 grid grid-cols-12 grid-rows-1 gap-2 md:gap-4 border-[0.5px] border-gray-300 rounded-md w-full shadow-sm justify-center items-center"
>
	<div class="bg-gray-100 rounded-md hover:bg-gray-200 p-2 w-fit justify-items-start">
		<svg
			width="25px"
			height="25px"
			viewBox="0 0 24 24"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g id="SVGRepo_iconCarrier">
				<path
					d="M9 6C9 7.65685 7.65685 9 6 9C4.34315 9 3 7.65685 3 6C3 4.34315 4.34315 3 6 3C7.65685 3 9 4.34315 9 6Z"
					stroke="#adacac"
					stroke-width="2"
				/>
				<path
					d="M21 18C21 19.6569 19.6569 21 18 21C16.3431 21 15 19.6569 15 18C15 16.3431 16.3431 15 18 15C19.6569 15 21 16.3431 21 18Z"
					stroke="#adacac"
					stroke-width="2"
				/>
				<path
					d="M15 3L12.0605 5.93945V5.93945C12.0271 5.97289 12.0271 6.02711 12.0605 6.06055V6.06055L15 9"
					stroke="#adacac"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M9 21L11.9473 18.0527V18.0527C11.9764 18.0236 11.9764 17.9764 11.9473 17.9473V17.9473L9 15"
					stroke="#adacac"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M12 6C14.8284 6 16.2426 6 17.1213 6.87868C18 7.75736 18 9.17157 18 12V15"
					stroke="#adacac"
					stroke-width="2"
				/>
				<path
					d="M12 18C9.17157 18 7.75736 18 6.87868 17.1213C6 16.2426 6 14.8284 6 12L6 9"
					stroke="#adacac"
					stroke-width="2"
				/>
			</g>
		</svg>
	</div>
	<div class="flex flex-col col-span-4 justify-center gap-1 flex-grow">
		<div class="text-sm font-semibold text-gray-700 flex flex-row justify-start items-center gap-2">
			<h1 class="text-base">{item.name}</h1>
			{#if item.ispublic}
				<span class="text-xs text-gray-500 px-2 py-0.5 rounded-sm border-[0.5px] border-gray-300"
					>public</span
				>
			{/if}
		</div>
		<div class="text-xs text-gray-500">{item.git}</div>
	</div>
	<div class="flex flex-col gap-0.5 col-span-3 justify-start items-start">
		<div class="text-xs text-gray-500 flex flex-row justify-start items-center gap-1">
			<svg
				width="12px"
				height="12px"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="SVGRepo_iconCarrier">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M6 5C6 4.44772 6.44772 4 7 4C7.55228 4 8 4.44772 8 5C8 5.55228 7.55228 6 7 6C6.44772 6 6 5.55228 6 5ZM8 7.82929C9.16519 7.41746 10 6.30622 10 5C10 3.34315 8.65685 2 7 2C5.34315 2 4 3.34315 4 5C4 6.30622 4.83481 7.41746 6 7.82929V16.1707C4.83481 16.5825 4 17.6938 4 19C4 20.6569 5.34315 22 7 22C8.65685 22 10 20.6569 10 19C10 17.7334 9.21506 16.6501 8.10508 16.2101C8.45179 14.9365 9.61653 14 11 14H13C16.3137 14 19 11.3137 19 8V7.82929C20.1652 7.41746 21 6.30622 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.30622 15.8348 7.41746 17 7.82929V8C17 10.2091 15.2091 12 13 12H11C9.87439 12 8.83566 12.3719 8 12.9996V7.82929ZM18 6C18.5523 6 19 5.55228 19 5C19 4.44772 18.5523 4 18 4C17.4477 4 17 4.44772 17 5C17 5.55228 17.4477 6 18 6ZM6 19C6 18.4477 6.44772 18 7 18C7.55228 18 8 18.4477 8 19C8 19.5523 7.55228 20 7 20C6.44772 20 6 19.5523 6 19Z"
						fill="#bcb8b8"
					/>
				</g></svg
			>
			{item.branch}
		</div>
		<BulkCardStats stats={item.stats} />
	</div>
	<div class="flex flex-col justify-start items-start gap-1">
		<div class="text-xs text-gray-500 text-start">Speed</div>
		<div class="text-xl md:text-2xl text-gray-500 font-bold">
			{item.speed} <span class="text-xs font-semibold text-gray-400">m</span>
		</div>
	</div>
	<div class="flex flex-col justify-start items-start gap-1">
		<div class="text-xs text-gray-500 text-start">Reability</div>
		<div class="text-xl md:text-2xl text-gray-500 font-bold">
			{item.reability} <span class="text-xs font-semibold text-gray-400">%</span>
		</div>
	</div>
	<div class="flex flex-col justify-start items-start gap-1">
		<div class="text-xs text-gray-500 text-start">Builds</div>
		<div class="text-xl md:text-2xl text-gray-500 font-bold truncate">
			{item.builds} <span class="text-xs font-semibold text-gray-400">/w</span>
		</div>
	</div>
	<div class="w-full justify-items-end justify-end flex">
		<div
			class="flex justify-center items-center rounded-md p-2 bg-gray-100 hover:bg-gray-200 w-fit"
		>
			<svg
				width="25px"
				height="25px"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				><g id="SVGRepo_iconCarrier">
					<path
						d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
						stroke="#888686"
						stroke-width="1.5"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M12 6V12"
						stroke="#888686"
						stroke-width="1.5"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M16.24 16.24L12 12"
						stroke="#888686"
						stroke-width="1.5"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</g></svg
			>
		</div>
	</div>
</div>
